<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Doctrine ORM Registry Manager Provider Test Suite">
            <directory>./tests/Dominikzogg/Doctrine/Registry</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/Dominikzogg/Cilex/Provider/</directory>
            <directory>./src/Dominikzogg/Doctrine/Registry</directory>
            <directory>./src/Dominikzogg/Pimple/Provider/</directory>
            <directory>./src/Dominikzogg/Silex/Provider/</directory>
        </whitelist>
    </filter>
</phpunit>
